@import './media-mixins.scss';
@import './red-theme.scss';

:root {
  --nav-link-color: #{$header-text-color};
  --header-bg-color: #{$header-bg-color};
}

.page-header {
  display: flex;
  justify-content: center;
  height: var(--header-height);
  align-items: stretch;
  background-color: var(--header-bg-color);
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  @include mobile {
    transition: all 0.2s;
    border-bottom: 1px solid;
    &.page-header_active {
      --header-bg-color: #{$header-bg-color-active};
      border-bottom: 1px solid var(--nav-link-color);
      .page-nav__menu {
        transform: translateX(0);
        // transform: scaleY(1);
      }
    }
  }
}

.page-nav {
  max-width: var(--content-max-width);
  width: 100%;
  display: flex;
  @include mobile {
    align-items: center;
    justify-content: flex-end;
  }
  &__toggle {
    --size: 30px;
    display: none;
    background: transparent;
    width: var(--size);
    height: var(--size);
    text-align: center;
    border: none;
    color: var(--nav-link-color);
    @include mobile {
      display: initial;
    }
  }
  &__menu {
    width: 100%;
    display: flex;

    list-style: none;
    justify-content: center;
    @include mobile {
      position: absolute;
      top: var(--header-height);
      flex-direction: column;
      background: var(--header-bg-color);
      width: 100%;
      height: calc(100vh - var(--header-height));
      justify-content: flex-start;
      align-items: stretch;
      padding: 45px;
      transform: translateX(-100%);
      // transform: scaleY(0);
      transform-origin: top;
      transition: all 0.3s;
    }
  }
  &__item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    @include mobile {
      flex-grow: 0;
      width: 100%;
      border-bottom: 1px solid var(--nav-link-color);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    justify-content: center;
    @include mobile {
      justify-content: flex-start;
      font-size: 16px;
      padding: 15px 0;
    }
  }
}
