[class*=col-] {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.312rem 0.312rem;
  position: relative;
  min-height: 1px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  word-break: break-word;
}

.col-1 {
  flex-basis: 6.25%;
  width: 6.25%;
  max-width: 6.25%;
}

.col-2 {
  flex-basis: 12.5%;
  width: 12.5%;
  max-width: 12.5%;
}

.col-3 {
  flex-basis: 18.75%;
  width: 18.75%;
  max-width: 18.75%;
}

.col-4 {
  flex-basis: 25%;
  width: 25%;
  max-width: 25%;
}

.col-5 {
  flex-basis: 31.25%;
  width: 31.25%;
  max-width: 31.25%;
}

.col-6 {
  flex-basis: 37.5%;
  width: 37.5%;
  max-width: 37.5%;
}

.col-7 {
  flex-basis: 43.75%;
  width: 43.75%;
  max-width: 43.75%;
}

.col-8 {
  flex-basis: 50%;
  width: 50%;
  max-width: 50%;
}

.col-9 {
  flex-basis: 56.25%;
  width: 56.25%;
  max-width: 56.25%;
}

.col-10 {
  flex-basis: 62.5%;
  width: 62.5%;
  max-width: 62.5%;
}

.col-11 {
  flex-basis: 68.75%;
  width: 68.75%;
  max-width: 68.75%;
}

.col-12 {
  flex-basis: 75%;
  width: 75%;
  max-width: 75%;
}

.col-13 {
  flex-basis: 81.25%;
  width: 81.25%;
  max-width: 81.25%;
}

.col-14 {
  flex-basis: 87.5%;
  width: 87.5%;
  max-width: 87.5%;
}

.col-15 {
  flex-basis: 93.75%;
  width: 93.75%;
  max-width: 93.75%;
}

.col-16 {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1199px) {
  .col-lg-1 {
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%;
  }

  .col-lg-2 {
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%;
  }

  .col-lg-3 {
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%;
  }

  .col-lg-4 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;
  }

  .col-lg-5 {
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%;
  }

  .col-lg-6 {
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%;
  }

  .col-lg-7 {
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%;
  }

  .col-lg-8 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
  }

  .col-lg-9 {
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%;
  }

  .col-lg-10 {
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%;
  }

  .col-lg-11 {
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%;
  }

  .col-lg-12 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%;
  }

  .col-lg-13 {
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%;
  }

  .col-lg-14 {
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%;
  }

  .col-lg-15 {
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%;
  }

  .col-lg-16 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .col-md-1 {
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%;
  }

  .col-md-2 {
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%;
  }

  .col-md-3 {
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%;
  }

  .col-md-4 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;
  }

  .col-md-5 {
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%;
  }

  .col-md-6 {
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%;
  }

  .col-md-7 {
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%;
  }

  .col-md-8 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
  }

  .col-md-9 {
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%;
  }

  .col-md-10 {
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%;
  }

  .col-md-11 {
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%;
  }

  .col-md-12 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%;
  }

  .col-md-13 {
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%;
  }

  .col-md-14 {
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%;
  }

  .col-md-15 {
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%;
  }

  .col-md-16 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .col-sm-1 {
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%;
  }

  .col-sm-2 {
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%;
  }

  .col-sm-3 {
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%;
  }

  .col-sm-4 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;
  }

  .col-sm-5 {
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%;
  }

  .col-sm-6 {
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%;
  }

  .col-sm-7 {
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%;
  }

  .col-sm-8 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
  }

  .col-sm-9 {
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%;
  }

  .col-sm-10 {
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%;
  }

  .col-sm-11 {
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%;
  }

  .col-sm-12 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%;
  }

  .col-sm-13 {
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%;
  }

  .col-sm-14 {
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%;
  }

  .col-sm-15 {
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%;
  }

  .col-sm-16 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 574px) {
  .col-xs-1 {
    flex-basis: 6.25%;
    width: 6.25%;
    max-width: 6.25%;
  }

  .col-xs-2 {
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%;
  }

  .col-xs-3 {
    flex-basis: 18.75%;
    width: 18.75%;
    max-width: 18.75%;
  }

  .col-xs-4 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;
  }

  .col-xs-5 {
    flex-basis: 31.25%;
    width: 31.25%;
    max-width: 31.25%;
  }

  .col-xs-6 {
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%;
  }

  .col-xs-7 {
    flex-basis: 43.75%;
    width: 43.75%;
    max-width: 43.75%;
  }

  .col-xs-8 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
  }

  .col-xs-9 {
    flex-basis: 56.25%;
    width: 56.25%;
    max-width: 56.25%;
  }

  .col-xs-10 {
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%;
  }

  .col-xs-11 {
    flex-basis: 68.75%;
    width: 68.75%;
    max-width: 68.75%;
  }

  .col-xs-12 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%;
  }

  .col-xs-13 {
    flex-basis: 81.25%;
    width: 81.25%;
    max-width: 81.25%;
  }

  .col-xs-14 {
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%;
  }

  .col-xs-15 {
    flex-basis: 93.75%;
    width: 93.75%;
    max-width: 93.75%;
  }

  .col-xs-16 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=grid.css.map */
